<div>
    <ul>
        <li>
            <span [ngStyle]="{'font-weight': 'bold'}">Nom : </span>
            {{character.name}}
        </li>
        <li>
            <span [ngStyle]="{'font-weight': 'bold'}">Tire : </span>
            {{character.title}}
        </li>
        <li>
            <span [ngStyle]="{'font-weight': 'bold'}">ID : </span>
            {{character.id}}
        </li>
        <li>
            <span [ngStyle]="{'font-weight': 'bold'}">Clé : </span>
            {{character.key}}
        </li>
        <li>
            <span [ngStyle]="{'font-weight': 'bold'}">Actif : </span>
            {{character.active}}
        </li>
    </ul>
</div>
